<!DOCTYPE html>
<html>
  <head>
    <title>Instafam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="https://i.imgur.com/VAEXYQd.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
